$color-primary: #f8f9fa;
$color-sidenav-active: #03506f;
$color-sidenav-a: rgba(0, 0, 0, 0.2);
$color-boxShadowDark: #82878b41;
$color-boxShadowBlue: rgba(83, 131, 179, 0.9);
$color-iconbar: #fff;
$color-navIcons: #03506f;
$color-Addbutton: #54e346;
$color-kboard: rgba(83, 131, 179, 0.09);
$color-primary-border: rgba(64, 109, 139, 0.679);

.navbar {
  box-shadow: 0 0.2rem 0.5rem rgba(83, 131, 179, 0.3);
  background: #f8f9fa;
}

#sidenav {
  margin-top: 60px;

}

#sidenav {
  .nav-item {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 25px 50px;
    letter-spacing: 3px;
  }
  .nav-item a {
    color: rgba(0, 0, 0, 0.2);
  }
  .nav-item a.active {
    color: #03506f;
  }
}

.page-header {
  margin: 1.5rem 0 2rem;
  box-shadow: 0 0.9rem 0.9rem #82878b41;

}

.nav-pills {
  background-color: #e8e8e8;
  border-radius: 7px;
  margin: 0 auto 45px;
}

.card {
  box-shadow: 0 0.2rem 0.5rem rgba(83, 131, 179, 0.9);
  margin: 0 0 1.5rem;
}


.icon-bar {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  border: 1px solid;
  text-align: center;
  background-color: #fff;
}

.bi {
  fill: #03506f;
}

.bi-plus-circle-fill {
  fill: #54e346;
}

.project-name {
  text-align: center;
}

#workTabContent {
  display: flex;
  flex-direction: column;
}

.tasksTab {
  margin: auto;
}

.tasks-tab-header {
  margin: 2rem 0 1rem;
}

.taskCards {
  list-style: none;
}

.tasks-tab-card {
  padding: 1rem 1rem 0;
  margin: 1rem;
}

.checklistItem {
  text-decoration: line-through;
}

.bi-grip-vertical {
  margin: 0 .5rem;
}

.container-kanban {
  display: flex;
  flex-direction: column;
  height: auto;
  overflow-y: hidden;
  max-height: calc(100vh - 3rem);
}

.kboard {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: auto;
  overflow-x: scroll;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  background-color: rgba(83, 131, 179, 0.07);
  border-radius: 3%;
}

.canvas {
  height: 100%;
  max-height: 30rem;
  min-width: 300px;
  margin: 1rem;
  padding: 1%;
  border: 2px solid rgba(64, 109, 139, 0.479);
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

}

.canvasTitle {
  text-align: center;
  text-decoration: underline;
  margin: 0 1rem 1rem;
  top: 0;
}

.canvasList {
  position: relative;
  overflow-y: scroll;
}

.kcard {
  border: 1px solid rgba(64, 109, 139, 0.479);
  display: block;
  flex-direction: column;
}

.kcard-title {
  margin-left: 1rem;
}

.addCanvas {
  min-width: 300px;
  margin: 5rem 0;
  padding-left: 70px;

}

@media screen and (min-width: 992px) {
  .container-main {
      padding-left: 8rem;
      
  }
  .container-sidenav {
      height: 100vh;
      overflow-y: scroll;
      top: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      position: fixed;
      box-shadow: 0 0.2rem 0.5rem rgba(83, 131, 179, 0.3);
      background: #f8f9fa;
      max-width: 8vw;
  }
}

@media screen (min-width: 1200px) {
  .container-main .main {
      max-width: 1140px;
  }
}

@media (min-width: 992px) {
  .container-main .main {
      max-width: 960px;
  }
}

@media screen (min-width: 768px) {
  .container-main {
      max-width: 720px;
  }
}

@media screen (min-width: 576px) {
  .container-main {
      max-width: 540px;
  }
}

