
body {
  background-color: #f4f4f2;

}

#sidenav {
  position: fixed;
  margin: 70px 5px 20px;
  /* margin-left: 10px; */
  height: 100%;
  max-width: 15vh;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  box-shadow: .9px 0 0 rgba(0,0,0,.1);
  border-radius: -3%;
}

@media screen and (max-width: 767px) {
  #sidenav {
    box-shadow: none;
  }
}

.main {
  overflow: hidden;
  flex: 1;
  padding-left: 3rem;
  padding-right: 3rem;
  max-width: calc(100vw - 264px);
}

#sidenav .nav-item {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 20px 30px;
  letter-spacing: 3px;
}

#sidenav .nav-item a {
  color: rgba(0, 0, 0, .2);
}

#sidenav .nav-item a.active {
  color: #03506f;
}

.nav-pills {
  background-color: #e8e8e8;
  border-radius: 7px;
  margin-bottom: 10%;
  max-height: fit-content;

}

.main {
  background-color: #f4f4f2;
  height: 100%;
}

.icon-bar {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  border: 1px solid;
  text-align: center;
}

.bi {
  fill: #03506f;
  
}

.bi-plus-circle-fill {
  fill: #54e346;
}